if top && top.length
    - r = Math.floor(Math.random() * top.length)
    a.linheader(href=top[r].url, title=top[r].title_ru + ' смотреть онлайн бесплатно', style='background: #fff url(' + top[r].picture_big + ') no-repeat center center; background-size: 100% auto;')
