doctype html
html(lang='ru')
    head
        include head
    body
        .wraperz
            .tomenu1
                include topmenu
            .header
                include header
            #main.contents
                .mainfilms.jelt-polosk
                    .mainf-newtit
                        i.fa.fa-forward
                        b= ' Премьеры фильмов '
                        i.fa.fa-backward
                        .r2d2 Смотрите фильмы онлайн бесплатно
                    .fixur
                        each movie in premieres
                            include movie
                    .clearfix
                .mainfilms.jelt-polosk
                    .mainf-newtit
                        i.fa.fa-forward
                        b= ' Лучшие фильмы 2016 года '
                        i.fa.fa-backward
                        .r2d2 Смотрите фильмы 2016 года онлайн бесплатно
                    .fixur
                        each movie in year
                            include movie
                    .clearfix
                .mainfilms.jelt-polosk
                    .mainf-newtit
                        i.fa.fa-forward
                        b= ' Топовые фильмы '
                        i.fa.fa-backward
                        .r2d2 Лучшие фильмы за все времена онлайн бесплатно
                    .fixur
                        each movie in bests
                            include movie
                    .clearfix
                .newcatfes
                    #read-more
                        img.infotos(src='/img/photo.png', title='Все фильмы онлайн бесплатно', alt='Онлайн фильмы бесплатно')
                        != description
                footer
                    include footer