doctype html
html(lang='ru')
    head
        include head
    body
        .wraperz
            .tomenu1
                include topmenu
            .header
                include header
            #main.contents
                each categories in movies
                    if categories.length
                        each data in categories
                            .mainfilms.jelt-polosk
                                .mainf-newtit
                                    i.fa.fa-forward
                                    b!= data.name
                                    i.fa.fa-backward
                                    .r2d2 Смотрите фильмы онлайн бесплатно
                                .fixur
                                    each movie in data.index
                                        include movie
                                .clearfix
                .newcatfes
                    #read-more
                        img.infotos(src='/themes/ted/public/img/photo.png', title='Все фильмы онлайн бесплатно', alt='Онлайн фильмы бесплатно')
                        != description
                footer
                    include footer