if movies.length
    urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9')
        each movie in movies
            url
                loc= 'http://' + domain + '' + movie.url
                lastmod= movie.premiere

else
    sitemapindex
        sitemap
            - n = 2016
            while n > 1900
                loc
                    = 'http://' + domain + '/' + urls.sitemap + '/' + n--